.range-chart * {
    margin: 0;
    padding: 0;
}

.range-chart {
    position: relative;

    width: 70%;
    left: 30%;

    border-right: 2px solid #153F60;
    border-left: 2px solid #153F60;
}

.range-chart .baseline {
    position: absolute;

    width: 1px;
    border: 1px solid #FF7F6E;
    height: 320px;
    z-index: 20;
}

.range-chart .baseline .baseline-label {
    position: relative;

    width: 250px;
    right: 255px;
    text-align: right;
    color: #FF7F6E;
    font-size: 12px;
    font-weight: bold;
}

.range-chart .range-chart-row {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #E8E8E8;
}

.range-chart .range-chart-row:hover {
    background-color: #e5f4fc;
}

.range-chart .data-header {
    position: absolute;

    border-bottom: 1px solid #E8E8E8;
}

.range-chart .data-header .header-label {
    height: 59px;
    line-height: 59px;
}

.range-chart .lines {
    position: absolute;
    width: 100%;
}

.range-chart .lines .line {
    position: absolute;

    width: 1px;
    height: 60px;

    border-right: 1px solid #E8E8E8;
}

.range-chart .lines .line.col-1 {
    left: 12.5%;
}

.range-chart .lines .line.col-2 {
    left: 25%;
}

.range-chart .lines .line.col-3 {
    left: 37.5%;
}

.range-chart .lines .line.col-4 {
    left: 50%;
}

.range-chart .lines .line.col-5 {
    left: 62.5%;
}

.range-chart .lines .line.col-6 {
    left: 75%;
}

.range-chart .lines .line.col-7 {
    left: 87.5%;
}

.range-chart .data-info {
    position: relative;
    z-index: 10;
}

.range-chart .data-info .graph {
    position: relative;
    top: 20px;
    height: 20px;
    background-color: #5BD900;
    border: 1px solid #5BD900;
}

.range-chart .data-info .graph .limitbox {
    position: absolute;
    font-size: 11px;
    top: 1px;
    color: #777777;
    border: 1px solid #CCCCCC;
    z-index: 5;

    height: 15px;
    line-height: 15px;

    background-color: white;

    padding: 0 5px;

    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;

    display: none;
}

.range-chart .data-info .graph .limitbox.min-value {
    right: 100%;
    padding-right: 5px;
    border-right: none;
}

.range-chart .data-info .graph .limitbox.max-value {
    left: 100%;
    padding-left: 5px;
    border-left: none;
}

.range-chart .legend {
    position: relative;

    width: 100%;
    height: 50px;
}

.range-chart .legend .label {
    position: absolute;
    width: 25%;
}

.range-chart .legend .label .label-data {
    position: absolute;
    color: #1586d8;
}

.range-chart .legend .max,
.range-chart .legend .min {
    margin: 0;
    padding: 0;
    border: 0;
    width: 0;
    height: 0;
}

.range-chart .legend .label-1 {
    left: 12.5%;
}

.range-chart .legend .label-2 {
    left: 25%;
}

.range-chart .legend .label-3 {
    left: 37.5%;
}

.range-chart .legend .label-4 {
    left: 50%;
}

.range-chart .legend .label-5 {
    left: 62.5%;
}

.range-chart .legend .label-6 {
    left: 75%;
}

.range-chart .legend .label-7 {
    left: 87.5%;
}

.range-chart .data-info .graph .limitbox {
    position: absolute;
    font-size: 11px;
    top: 1px;
    color: #777777;
    border: 1px solid #CCCCCC;
    z-index: 5;

    height: 15px;
    line-height: 15px;

    background-color: white;

    padding: 0 5px;

    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;

    display: none;
}

.range-chart .data-info .graph .limitbox.min-value {
    right: 100%;
    padding-right: 5px;
    border-right: none;
}

.range-chart .data-info .graph .limitbox.max-value {
    left: 100%;
    padding-left: 5px;
    border-left: none;
}

